<!DOCTYPE html><html><head><meta charset=utf-8><title>投资中国/香港股市的人生机遇</title><meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name=viewport><link href=/-/rss.xml rel=alternate type=application/atom+xml><link href=/-/view/2018-10-29 rel=canonical><link href=/-S/94d764346758476fd8f3.css rel=stylesheet></head><body><noscript><div class=TC><a href=/-/sitemap.htm>索引</a></div></noscript><script src=/-S/initaeda9fda.js></script><script src=/-S/94d76434.js></script><div class="Pbox"><div class="C macS"><div class="TXT"><h1>投资中国/香港股市的人生机遇</h1><p>已故的周期天王周金涛2016年发表了主题为“人生就是一场康波”的演讲，</p>
<p>做出如下预判：</p>
<blockquote>
<p><strong>人的一生中所能获得的机会，理论来讲只有三次，如果每一个机会都没抓到，一生的财富就没有了。</strong></p>
<p>如果抓住其中一个机会，至少是个中产阶级。</p>
<p>40岁以上的人，人生第一次机会在2008年，如果那时候买股票、房子，你的人生是很成功的。</p>
<p>2008年之前的，上一次人生机会1999年，40岁的人抓住那次机会的人不多，所以2008年是第一次机会。</p>
<p><strong>第二次机会在2019年，最后一次在2030年附近，能够抓住一次你就能够成为中产阶级。</strong></p>
</blockquote>
<p>现在，在2019的前夜，对于中国/香港股市而言，这样的机会已然到来 ( <a href="http://t.cn/EZ1HqOH">A股、港股、美股估值比较，如今基本是历史最低估值</a> )。</p>
<p>这样的机遇，一个人一生大概率只能碰到三次。</p>
<p>过去悲观派的代表，「繁荣的顶点」提出者姜超在2018年10月28发表的他新的观点，</p>
<p><a href="https://finance.sina.com.cn/stock/stockptd/2018-10-28/doc-ihnaivxp8178512.shtml">投资中国历史性机会 外资对中国资本市场不悲观</a></p>
<blockquote>
<p>去年的时候，市场都在谈论新周期，但是我们写下的《繁荣的顶点》来提示风险，因为我们看到了居民举债投机，这是泡沫而不是新周期。</p>
<p>我们在16年就写下了《居民加杠杆、危险的游戏！》。  </p>
<p>而今年我们写下《投资中国的历史性机会》，我们看到了去杠杆、债务违约和减税，这些都是长期正确的事情，哪怕短期还有阵痛，但是长期充满希望。</p>
</blockquote>
<p>姜超在文章中还提到了这样一个事实。</p>
<blockquote>
<p>从08年金融危机开始，每次我们遇到经济下行的挑战，都是通过大幅举债来解决，到目前为止我们已经经历了三轮债务周期。</p>
<p>第一次是08-09年，为了应对全球金融危机的挑战，我们发动企业部门大幅举债，加码制造业投资。虽然我们率先从全球金融危机中复苏，但代价是企业部门负债过度、制造业产能过剩。</p>
<p>第二次是12-13年，产能过剩导致经济再度下滑，我们又发动政府融资平台大幅举债，加码了基建投资，但后果是政府部门的隐性债务大幅增长。</p>
<p>第三次是16-17年，地方债务规范以后经济再度下滑，我们又发动了居民部门大幅举债，虽然经济再度企稳，但代价是居民部门债务率大幅上升、地产泡沫愈演愈烈。</p>
<p>而在18年以来，中国经济再次出现了明显的下行。</p>
<p>可以发现，我们过去每一次遇到经济下行，都倾向于通过举债的方式来应对，每一次都可以解决短期经济的问题，但是好景不长，往往过一段时间经济压力又会卷土重来。</p>
<p>而这个背后的原因其实也非常简单，因为靠举债发展只会创造经济波动，而不会创造经济增长。</p>
</blockquote>
<p>这里，我配上两张图。</p>
<p>第一张图是中国全社会（居民、企业、政府）杠杆率的变化</p>
<p><img src="https://p.gu321.com/20181029095723.png" alt=""></p>
<p>最近的中国香港股市的非理性下跌，很大程度是因为中国全社会杠杆率停止增长，叠加美国贸易战的心理恐慌。</p>
<p>中美贸易战对经济有影响，但直接&amp;间接受损总估算也就是0.3%到0.4%的GDP ( <a href="http://t.cn/RgzpQp5">摩根斯坦利报告出炉：贸易战对中国GDP影响有多大</a> )，市场对此的心理恐慌远大于实际受损。</p>
<p>第二张图是中国居民部门杠杆率的变化（这也是房价一直涨的根源）</p>
<p><img src="https://p.gu321.com/20181029095835.png" alt=""></p>
<p>接下来，中国经济将会如何发展？</p>
<p>我们先来看一下最近十年美国漫长大牛市的整体杠杆率变化。</p>
<p><img src="https://p.gu321.com/20181029100039.png" alt=""></p>
<p><img src="https://p.gu321.com/20181029101052.png" alt=""></p>
<p>非常明显，2008年危机之后，美国政府加杠杆，减税，降低美国企业和居民的杠杆，换来了十年大牛市。</p>
<p>在姜超的文章中，提到了一个词，政府减税，本质上，也就是中国将来将会复制美国的模式，这也就是中国经济新周期、股市大牛市的起点。</p>
<p>为什么中国可以减税？ 因为中国有减税的底气，中国有减税的空间。</p>
<p>先说， 中国有减税的底气 :</p>
<p>2018年10月24日，中国国务院第一次向全国人大常委会报告国有资产管理情况，也是国有金融资产第一次报清“明白账”。</p>
<p>报告中公布的数据显示:</p>
<blockquote>
<p>在企业国有资产（不含金融企业）方面，<br>2017年，中央国有企业资产总额76.2万亿（单位：元人民币，下同），负债总额51.9万亿，国有资本及权益总额16.2万亿，资产负债率68.1%。<br>2017年，地方国有企业资产总额107.3万亿，负债总额66.6万亿，国有资本及权益总额34.1万亿，资产负债率62%。<br>此外，<br>2017年，国有金融企业资产总额241万亿，负债总额217.3万亿，形成国有资产16.2万亿。<br>2017年，全国行政事业单位资产总额30万亿，负债总额9.5万亿，净资产20.5万亿。其中，行政单位资产总额8.9万亿，事业单位资产总额21.1万亿。</p>
</blockquote>
<p>合计政府拥有国企总资产 16.2+34.1+16.2=66.5万亿 ，事业单位（医院、学校、科教文等）资产30万亿，</p>
<p>考虑到美国监狱都能私有化了上市（CCA，美股股票代码CXW，最大的私人监狱承包商，占据美国私人监狱的45%市场，2016年，总收入18.5亿美元，净利润2.2亿美元；GEO，代码GEO，2016年，总收入21.8亿美元，净利润1.5亿美元）。</p>
<p>中国混改进行中，减税之后，这些资产收益率变高，政府就可以用更高价格出售部分国有资产给民营企业（假设15倍市盈率出售，税收少1元，售价多15元），而民营企业负责国企管理，提高企业经营效率，又将进一步增加政府收入。</p>
<p>所以，减税不同于以前的政府举债搞基建（没有新增开支，不提高全社会杠杆率）；同时因为拉弗曲线和上文说的估值变化、效率提升，减税很可能反而提高政府收入，降低政府杠杆率。</p>
<p>再说，中国有减税的空间 :</p>
<p>任泽平写过一篇，<a href="https://zhuanlan.zhihu.com/p/31799776">中美税负对比研究报告</a> , 其中写道 :</p>
<blockquote>
<p>以销售收入为基的税收比显示，格力电器综合税率达2.96%，高于通用电气的1.19%；福耀玻璃综合税率3.60% ，高于康宁公司1.69%；上汽集团综合税率1.15%，高于通用汽车0.15%。</p>
</blockquote>
<p>可见中国税负成本远高于美国。</p>
<p>中国之前一直高税负，是中国在补几百年积贫积弱基础设施不发达的欠账。但是，随着中国公路网密度超过美国，历史的欠账，我们已经补上。</p>
<p>这种高税收下的想致富先修路的策略，已经渐渐完成了它的历史使命。 而这就是中国减税的空间。</p>
<p>最后，中国已经开始减税。正如姜超在前文《投资中的历史性机会》中提到的</p>
<blockquote>
<p>而在中国，一直到18年上半年为止，我们的减税都没有看到实际效果。18年上半年，我国的税收增速为14.4%，其中增值税收入增速高达16.6%，均远高于同期的经济增速，这说明今年上半年我国的税收负担还在上升，不仅没有减税反而还在加税。</p>
<p>但是到了3季度，减税终于开始了。3季度的中国税收增速是8%，其中增值税增速是2%，均低于当期的经济增速，说明税收负担终于降了。尤其是刚刚过去的9月份，税收增速降到6%，增值税增速降至-1.2%，说明减税还在继续。</p>
<p>为什么3季度才看到减税的效果，可能有两个原因：</p>
<p>一是因为今年增值税税率下调1%发生在5月份，所以要到3季度以后才能看到减税的效果；二是因为中国税收的主体是增值税，这是伴随着生产环节征收，上半年工业品价格高涨，所以增值税居高不下，而下半年工业品价格持续回落，因此增值税减税效果也更加明显。</p>
<p>而在10月份，个税的下调也开始了。新版的个税法开始实施，不仅把起征点从3500元上调到5000元，同时还把教育、医疗、住房、养老等四大支出列入到个税的抵扣范围，相当于月薪10000以下基本上都免征个税了，对于普通工薪阶层的减税力度并不小，其实是体现了很大的诚意。</p>
</blockquote>
<p>随着减税政策的加码，企业利润将大幅改善。</p>
<p>加上如今极低的估值，随着企业基本面的改善，就是经典的戴维斯双击，周金涛生前预言的人生中三次机会已经出现。</p>
<h3 id="-">把握住，别错过。</h3>
</div></div></div></body></html>