<!DOCTYPE html><html><head><meta charset=utf-8><title>2018-02-27 · 避免被体制化</title><meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name=viewport><link href=/-/rss.xml rel=alternate type=application/atom+xml><link href=/-/view/2018-02-27 rel=canonical><link href=/-S/4516d7c0580be88d11b6.css rel=stylesheet></head><body><noscript><div class=TC><a href=/-/sitemap.htm>索引</a></div></noscript><script src=/-S/init7eb1f429.js></script><script src=/-S/4516d7c0.js></script><div class="Pbox"><div class="C macS"><div class="TXT"><h1>2018-02-27 · 避免被体制化</h1><p>看了『穿parda的女王』，又联想到『莫斯科行动』。</p>
<p>不管是『穿parda的女王』中的女秘书，还是『莫斯科行动』的犯罪团伙；人生就是寻找意义的过程，而你接触到的人，所处的环境，会局限你对意义的认知。</p>
<p>这也就是人被体制化的过程。</p>
<hr>
<p>体制化，是一种意识形态上的温水煮青蛙。</p>
<p>作为体制外的旁观者，你会察觉到体制内种种荒诞滑稽可笑。</p>
<p>但是，一旦你的思维模式被体制化，你会把那些不合理赋予意义和价值。</p>
<p>体制化程度越深，思维越僵化，人就越失去思考能力，无法沟通。</p>
<p>芒格就强调，<a href="http://fund.jrj.com.cn/2017/12/02091623730421.shtml">『年轻人要避免极端的意识形态』</a>。</p>
<blockquote>
<p>另外要避免的是极端的意识形态，因为它会让人们丧失理智。</p>
<p>你们看到电视上有许多非常糟糕的宗教布道者，他们对神学中的细枝末节持有不相同、强烈的、前后矛盾的神学观点，偏偏又非常固执，我看他们中有<strong>许多人的脑袋已经萎缩成卷心菜了</strong>（听众大笑）。</p>
<p>政治意识形态的情况也一样。年轻人特别容易陷入强烈而愚蠢的意识形态中，而且永远走不出来。当你们宣布你们是某个类似邪教团体的忠实成员，并开始倡导该团体的正统意识形态时，你们所做的就是将这种意识形态不断地往自己的头脑里塞。这样你们的头脑就会坏掉，而且有时候是以惊人的速度坏掉。所以你们要非常小心地提防强烈的意识形态，它对你们的宝贵头脑是极大的危险。</p>
<p>每当我感到自己有陷入某种强烈的意识形态的危险时，我就会拿下面这个例子来提醒自己，有些玩独木舟的斯堪的纳维亚人征服了斯堪的纳维亚所有的激流，他们认为他们也能驾驶独木舟顺利地征服北美洲的大漩涡，结果死亡率是百分之百。大漩涡是你们应避开的东西，强烈的意识形态也是，尤其是你们的同伴全都是虔诚的信徒时。</p>
<p>我有一条“铁律”，它帮助我在偏向于支持某种强烈的意识形态时保持清醒。我觉得我没资格拥有一种观点，除非我能比我的对手更好地反驳我的立场。我认为我只有在达到这个境界时才有资格发表意见。</p>
</blockquote>
<hr>
<p>最近在微信跟人争论政府与市场的关系，就发现这种体制化、意识形态，在经济学界，也是深入骨髓。</p>
<p>什么是政府、什么是市场，什么应该市场来做，什么应该企业来做。</p>
<p>这些东西绝不是二进制0和1那样泾渭分明。</p>
<p>科斯就表达过<a href="https://pileusblog.wordpress.com/2011/09/25/sunday-morning-quotation-ronald-coase-on-laissez-faire-vs-the-ideal/">『政府未必市场更好，也不总是更糟，很多事情，政府做成本更低』。</a></p>
<p>政府、市场，本来跟意义一样，是一个人为的概念。</p>
<p>这种概念，只是一种理解上的抽象，不能蕴含真实的本身。</p>
<p>政府、市场，谁更高效，这本来就只是意识形态，不是事实。</p>
<p>就比如，当年民国，中国共产党也是在一个混乱激烈、党派林立的自由市场竞争中被选择的队伍，对基层民众的组织效率无与伦比。</p>
<p>变成了政府，只是换了一个TITLE，就变得低效了？</p>
<p>芒格有言：</p>
<blockquote>
<p>如果你准确地观察这个世界，必然是幽默的，因为这个世界实在是太可笑了。</p>
</blockquote>
<p>在我看来，市场原教主义者与文革红卫兵并无二致。</p>
<p><a href="https://36kr.com/p/5081596.html">芒格还说类似这样的话，大学的学科划分造成了人为的割裂，但这不是真实的世界。</a></p>
<p>是的，政治、商业、军事、贸易，这些本来就是相互融合的东西。</p>
<p>想理解这些，就必须能有跨学科的思维模式，能理解这其中的相互借鉴。</p>
<p>而不是被人为制造的一些概念或区分限制的自己的思考，为了追求结论，去搞<a href="https://www.guokr.com/article/50289/">真空农场的球形鸡</a>，不知不觉让自己被体制化，大脑成为萎缩的卷心菜。</p>
<p>不同领域方法论可以相互影响，进一步促进自身的进化。</p>
<p>政府借鉴公司运作（淡马锡），公司借鉴政府反腐（恒大打击办）。</p>
<p><a href="http://www.yicai.com/news/5151392.html">林毅夫：有为政府+有效市场。</a></p>
<p><a href="http://www.infzm.com/content/122914">中国恒大：哪家企业有监察室、打击办、巡视室这么完善的监管体系？</a></p>
<blockquote>
<p>多元思维模型要求跨学科学习。芒格认为无须理会学科的法定界线，学习就应该回到最初的样子，需要学什么就学什么，世界是众多学科的综合体。</p>
</blockquote>
<hr>
<p>当然，不是说，概念、抽象没有意义。</p>
<p>对于生态系统而言，这种迷信和不理智有时候是有意义的。</p>
<p>没有概念抽象，没有体制，没用意义，人就无法学习认知、无法合作、无法奋斗。</p>
<p>没有了这些，道德也好，秩序也好，都无从依附。</p>
<p>但是，正如儒家的中庸之道，凡事过犹不及。</p>
<p>别把这些别人虚构的价值变得太重要，人，要时常对着镜子，倾听自己内心的声音。</p>
<p>怀疑精神万岁。抱着质疑的态度去对待定义。</p>
<blockquote>
<p>道可道，非恒道；名可名，非恒名。</p>
</blockquote>
<p>能像旁观者一样，意识到当下这些概念本身的局限性，并且不断的思考更好的解决方案，这就可以避免被体制化，被意识形态化，被文革化。</p>
<p>就像芒格说的『不配拥有一个观点，除非你能比对手更好地反驳自己』。</p>
<hr>
<h2 id="-https-site-douban-com-106733-widget-notes-3660351-note-243165579-"><a href="https://site.douban.com/106733/widget/notes/3660351/note/243165579/">杰夫·贝索斯：聪明的人善变</a></h2>
<p>那些经常改变想法的人常常被视为是弱者和不自信者。</p>
<p>亚马逊创始人兼CEO 杰夫·贝索斯在做客 37signals办公室时却发表了截然不同的观点。</p>
<p>贝索斯说，基于他以往的观察，那些经常判断正确的人往往是那些经常改变想法的人。</p>
<p>在贝索斯看来，想法一致不见得是一个非常好的品质，相反地，你明天的想法跟今天的想法有冲突，这事很正常，甚至应该被鼓励。</p>
<p>贝索斯发现，<strong>那些最最聪明的人会不断地修正他们对某个事物的看法，并会重新思考一个已经解决的问题</strong>。他们对新观点、新信息、新想法、各种矛盾、对自我思维方式的各类挑战都非常开放。</p>
<p>不过，这当然不是说你不应该形成一个完整、健全的观点，而是说你应该将这种观点看做是暂时的。</p>
<hr>
<blockquote>
<p>灰犀牛生长于非洲草原，体型笨重、反应迟缓，你能看见它在远处，却毫不在意，一旦它向你狂奔而来，憨直的路线、爆发性的攻击力定会让你猝不及防，直接被扑倒在地！</p>
<p>所以危险并不都来源于突如其来的灾难、或者太过微小的问题，更多只是因为我们长久地视而不见。</p>
</blockquote>
<p><a href="http://money.163.com/17/0718/10/CPKCMCE4002580S6.html">经济上的灰犀牛</a>，来源于路径依赖，这本质是整个金融、政治被体制化的过程。</p>
<p>官员考评，赋予了GDP增长意义。</p>
<p>为了追求这种意义，政府使劲的加杠杆、搞地产，房价飙涨。</p>
<p>而空气、水、教育公平、医疗这些不被GDP统计的东西，代表了真实生存质量的东西，就被有意无意的忽略。</p>
<p>但是，思考一下，这样的GDP真的有意义吗？</p>
<p>我不是说，不需要考评；我是说，是不是还应该用GDP考评。</p>
<p>我比较庆幸，中国政府意识到了这一点，开始主动去杠杆、控风险、改考评方式。</p>
<p><a href="http://www.chinanews.com/gn/2017/12-26/8409209.shtml">海南2018年对12市县取消GDP考核 生态环保列为一票否决事项</a></p>
<p>我很喜欢曹操的观点『不得慕虚名而处实祸也』。</p>
<p>GDP是虚名，美好生活是实质。</p>
<p>同理说到中国修宪，我认为也是如此。</p>
<p>习近平敢于冒着被人骂的风险，也要将他深化改革的中场战事继续下去。</p>
<p>怎么被人议论，这都是虚名。</p>
<p>而，如确定中国未来发展方向的千年大计，这才是实实在在的事情。</p>
<hr>
<h2 id="-">拓展阅读</h2>
<ol>
<li><a href="http://t.cn/REVSDh2">【戰略】談中共修憲 - 王孟源的部落格</a></li>
<li><a href="http://news.dwnews.com/china/news/2018-03-03/60043591_all.html">被扭曲的宪改 “黄袍加身”之外的中国大变局</a></li>
</ol>
</div></div></div></body></html>